
body{
    

    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;

}

nav{
    border-top: 5px solid green;
    box-shadow: 0px 2px 2px grey;
    padding-bottom: 10px;
    margin-top: 0px;
   
}

.nav-1{
    
    margin-left: 200px;
    margin-right: 200px;   
    display: flex;
   gap:20px;
   padding-top: 2px;
 padding-bottom: 10px;
 cursor: pointer;
 margin-top: 10px;
 
    
}
.nav-1 img{
    padding-top: 0px;
}


.nav-input{
    width:550px;
    
    margin-left: 10px;
    border: 2px solid black;
   

}
.nav-input{
    height: 40px;
    border-radius: 5px;
}
.nav-input input{
    margin-left: 20px;
    border: none;
    height: 15px;
    margin-top: 15px;
    outline: none;
    
    border-radius: 10px;
 

}

.nav-input i{
    padding-left: 10px;
}
.nav-1 .nav-location{
    padding: 5px ;
    font-size: 15px;
    margin-left: 10px;
    border: none;
    width: 150px;
    border-radius: 5px;
}
.nav-1 .nav-login{

    background-color: black;
    color: white;
    font-size: 12px;
    margin-left: 10px;
  border-radius: 5px;
   width: 85px;
   
    
    
}
.nav-2{
    display: flex;
    cursor: pointer; 
margin-left: 200px;
margin-right: 200px;  
gap: 20px;

 
}
.nav-2 .nav2-list{
    display: flex;
    list-style-type:none;
 gap:60px;
    justify-content: space-around;
    cursor: pointer;
    align-items: center;
   
    font-size: 17px;
  padding-right: 50px;
    border-right: 1px solid black;
 
}
.nav-2 > .nav2-list li:hover{
    color: rgb(235, 23, 146);
    text-decoration: underline;

 
}
.nav-2 >.nav2-list li{
    margin-left: 10px;
}
.nav2-list{
    position: relative;
}
.nav2-list-showdd{
    z-index: 1;
    position: absolute;
    right: -120px;
    top:50px;
    list-style-type: none;
    background-color: white;
   padding-left: 0px;
   box-shadow: 2px 2px 2px 2px grey;
   padding-right: 40px;
  display: none;


}
.nav2-list-dd:focus .nav2-list-showdd{
    display: block;

}
.nav2-list-showdd li{
    padding: 15px;
    padding-left: 0px;
}
.nav-2 p{
  margin: 10px;
  padding: 5px ;
  background-color: lightgrey;
  border-radius: 20px;
}
.nav-2 select {
    background-color: green;
    color: white;
}
.title{
    margin: 30px auto;
}
.title .title-row{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.title .title-col{
   
    background-color: lightgray;
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
   padding-left: 10px;
    cursor: pointer;
    padding-right: 10px;
    font-weight: bold;

}
.mysmartbasket{
    background-color: rgb(245, 242, 242);
    padding: 20px;
    margin: 20px 200px;
    margin-left: 200px;
    margin-right: 200px;
    
}
.mysmartbasket-head{
    display: flex;
    justify-content: space-between;
}
.mysmartbasket-row{
    
    width: 200px;
  gap: 20px;
    padding: 10px;
    display: flex;
    
}
.mysmartbasket-col{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px grey;
    
}
.viewall{
    display: flex;
    gap:20px;
    cursor: pointer;
}
.viewall button{
    height: 50px;
    width: 50px;
    font-size: 20px;
}

.mysmartbasket-col img{
    height: 180px;
    width: 180px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;

   

}
.mysmartbasket-col .img{
    position: relative;
}
.mysmartbasket-col select{
    width: 100%;
    padding: 5px;
}
.mysmartbasket-col span{
    font-weight: bold;
}
.mysmartbasket-col .rate{
    display: flex;
    gap: 10px;

}
.mysmartbasket-col .btn{
    display: flex;
    justify-content: space-between;
}
.mysmartbasket-col > .btn i{
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

}
.mysmartbasket-col >.btn button{
    padding: 10px 55px;
    background-color: white;
    border: 2px solid red;
    color: red;
    border-radius:10px ;
}
.mysmartbasket-col >.btn button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.mysmartbasket-col .offer{
    background-color: green;
    color: white;
    width: 40%;
    position: absolute;
    top:-15px;
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 15px;
}
@media screen  and (min-width:320px){

    


}
